// Tooltip mixin
// Usage: @include tooltip();
//        @include tooltip(#f9fafa, 14px, 3px, 1px, rgba(#000, 0.3));
//        @include tooltip($background-color: #f9fafa, $border-color: red);

@mixin tooltip($background-color: #3e474f,
               $arrow-size: 10px,
               $border-radius: 3px,
               $border-width: 0,
               $border-color: #3e474f) {

  background-color: $background-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: white;
  cursor: default;
  margin-bottom: $arrow-size;
  padding: 4px 6px;
  position: absolute;
  visibility: hidden;

  > * {
    position: relative;
  }

  &:before {
    background-color: $background-color;
    border-radius: 0 0 $border-radius 0;
    bottom: (-$arrow-size / 2 - $border-width);
    content: "";
    height: $arrow-size;
    left: 50%;
    margin-left: -$arrow-size / 2;
    position: absolute;
    transform: rotate(45deg);
    width: $arrow-size;
  }

  @if $border-width > 0 {
    border: $border-width solid $border-color;

    &:before {
      border: solid $border-color;
      border-width: 0 $border-width $border-width 0;
    }
  }
}
