// bower:scss
// endbower

@charset "UTF-8";

// Vendor styles
// =============================================================================

@import "bourbon";
@import "base/grid-settings";
@import "neat";

// Fonts
// =============================================================================

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic,100,100italic,500,500italic);
@include font-face('Bariol', '/assets/fonts/bariol/bariol_regular-webfont', normal, $file-formats: eot woff ttf svg);
@include font-face('Bariol', '/assets/fonts/bariol/bariol_bold-webfont', bold, $file-formats: eot woff ttf svg);

// Local styles
// =============================================================================
// Use `@import` to import local styles. Paths are relative to this file.

@import "base/variables";
@import "base/typography";
@import "base/forms";
// @import "mixins/tooltip";
@import "components/hero";
@import "components/faq";
// @import "components/tooltip";

// Inbox
// =============================================================================
// Use the area below as a temporary location for quick fixes and sketching, to
// avoid cluttering the components above. Abstract the code below into proper
// base styles, components and utilities when done.

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  // background-color: $blue;
}

img {
  max-width: 100%;
}

.clearfix {
  @include clearfix;
}

#header {
  // border-top: 3px solid $blue;
  padding: 2em 0 1em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include media($large-up) {
    padding: 4em 0 2em;

    .inner {
      @include outer-container;
    }
  }

  img.logo {
    height: 109px;
    width: 260px;
  }
}

section {
  padding: 4em 2em;
}

.announce {
  background-color: $blue;
  color: white !important;
  display: block;
  font-family: $heading-font-family;
  font-size: 1.4em;
  font-weight: 400;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  text-align: center;

  &:hover {
    span.action {
      color: $orange;
    }
  }

  b, strong {
    display: inline-block;
    font-weight: 700;
    margin-right: 5px;
  }

  .action {
    transition: all $base-duration;
    background-color: white;
    border-radius: 50em;
    color: $blue;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin-left: 1em;
    padding: 0.6em 1.2em;
    position: relative;
  }

  a.action:hover {
    color: $orange;
  }
}

#main {
  background-color: $light-gray;
  position: relative;
}

// #beta {}

#features {
  background-color: white;
  box-shadow: 0 -5px 50px -5px rgba(black, 0.2);
  position: relative;

  ol {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 4em;
      padding: 0 0.8em;
      position: relative;
      text-align: center;

      p {
        margin-bottom: 0;
      }

      &::after {
        bottom: -1em;
        content: "+";
        color: $orange;
        font-size: 3.8em;
        font-family: $heading-font-family;
        font-weight: 700;
        line-height: 1;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
      }

      &:last-of-type {
        margin-bottom: 0;

        &::after {
          display: none;
        }
      }
    }

    @include media($large-up) {
      @include outer-container;

      li {
        @include span-columns(4);
        margin-bottom: 0;

        &::after {
          bottom: auto;
          left: 106.09756%;
          top: 1.2em;
          width: auto;
        }
      }
    }
  }
}

#faqs {
  text-align: center;

  .faq {
    max-width: 900px;
    margin: 0 auto;
  }
}

#mailinglist {
  background-color: $blue;
  box-shadow: 0 -5px 50px -5px rgba(black, 0.2);
  color: white;
  padding: 0;
  position: relative;
  text-align: center;

  @include media($medium-up) {
    @include fill-parent();
    @include row(table);
  }

  h2 {
    color: white;
    margin-bottom: 0.3em;
  }

  input[type="email"] {
    margin: 0 0 1em;
    width: 100%;

    @include media($xlarge-up) {
      width: 250px;
    }
  }

  .button {
    width: 100%;
    @include media($xlarge-up) {
      margin: 0 0 0 10px;
      width: auto;
    }
  }

  .mailinglist,
  .earlyaccess {
    @include pad();

    @include media($medium-up) {
      @include span-columns(6);
    }
  }

  .mailinglist {
    background: $blue;
  }
  .earlyaccess {
    background: $orange;

    @include media($medium-up) {
      @include reset-display;
    }
  }
}

#footer {
  background-color: #212b3a;
  color: $dark-gray;
  padding: 3em 0 0;
  font-size: 1.2em;
  text-align: center;

  h4 {
    color: white;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .row {
    padding: 0 2em 1em;

    @include media($medium-up) {
      @include outer-container;
    }
  }

  .col {
    padding-bottom: 2em;

    @include media($medium-up) {
      @include span-columns(6);
    }
  }

  .footer-bottom {
    border-top: 1px solid darken($dark-gray, 10%);
    color: white;
    font-size: 0.8em;
    opacity: 0.2;
    padding: 1.5em 0;
    text-align: center;
  }
}
