fieldset {
  border-bottom: 1px solid #edeff0;
  margin-bottom: 18px;
  padding: 0 0 5px;

  input,
  textarea {
    width: 100%;
  }
}

input,
textarea {
  appearance: none;
  background-color: #e8ebed;
  border: 2px solid #e8ebed;
  border-radius: 5px;
  box-shadow: 0;
  box-sizing: border-box;
  color: #576366;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin: 0;
  outline: 0;
  padding: 12px 15px;
  transition: 0.2s;

  form & {
    @include media($small-only) {
      margin: 0 0 1em;
      width: 100%;
    }
  }
}

button,
.button {
  appearance: none;
  background-color: $orange;
  box-sizing: border-box;
  border: 2px solid $orange;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  display: inline-block;
  font-family: $base-font-family;
  font-weight: 500;
  line-height: 1;
  margin: 0 10px 0 0;
  outline: none;
  padding: 14px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  user-select: none;
  vertical-align: baseline;
  white-space: nowrap;

  form & {
    @include media($small-only) {
      margin: 0 0 1em;
      width: 100%;
    }
  }

  &.outlined {
    background-color: transparent;
    color: $orange;
  }

  &.rounded {
    border-radius: 50em;
  }

  &.white {
    background-color: white;
    border-color: white;
    color: $orange;

    &.outlined {
      background-color: transparent;
      color: white;
    }
  }

  &.blue {
    background-color: $blue;
    border-color: $blue;

    &.outline {
      background-color: transparent;
      border-color: $blue;
      color: $blue;
    }
  }

  &.green {
    background-color: $green;
    border-color: $green;

    &.outline {
      background-color: transparent;
      border-color: $green;
      color: $green;
    }
  }
}
