@import "neat-helpers";

// Grid settings
$column: 90px;
$gutter: 200px;
$grid-columns: 12;
$max-width: 1200px;

// Breakpoints
// $tablet: new-breakpoint(max-width 768px 8);
// $mobile: new-breakpoint(max-width 480px 4);

$medium-screen: 640px;
$large-screen: 860px;
$xlarge-screen: 1200px;

$small-only:  new-breakpoint(max-width $medium-screen - 1);
$medium-up:   new-breakpoint(min-width $medium-screen);
$medium-only: new-breakpoint(min-width $medium-screen max-width $large-screen - 1);
$large-up:    new-breakpoint(min-width $large-screen);
$large-only:  new-breakpoint(min-width $large-screen max-width $xlarge-screen - 1);
$xlarge-up:   new-breakpoint(min-width $xlarge-screen);
