body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-font-color;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: 700;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}
h1 { font-size: $base-font-size * 3; }
h2 { font-size: $base-font-size * 2.25; }
h3 { font-size: $base-font-size * 1.75; }
h4 { font-size: $base-font-size * 1.25; }
h5 { font-size: $base-font-size }
h6 { font-size: $base-font-size * 0.7; }

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
