// Typography
$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.6;

$heading-font-family: "Bariol", $base-font-family;
$heading-line-height: 1.2;

// Colors
$blue: #009dd2;
$orange: #ff7700;
$green: #5fcf80;

$light-gray: #f3f3f5;
$medium-gray: #d5d5d5;
$dark-gray: #7b878c;

$base-font-color: #4e575b;
$heading-font-color: #000000;
$action-color: $blue;
$action-secondary-color: $light-gray;

// Borders
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;

// Header & footer
$header-height: 50px;
$footer-height: 30px;

// Misc sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

// Animations
$base-duration: 0.2s;
$base-timing: ease;
