$faq-padding: 24px;

.faq-title {
  color: #bbbbc7;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
}

.faq-group {
  margin: 0 0 2em;
  padding: 0;
  text-align: left;

  > li {
    background-color: white;
    box-shadow: 0 1px 2px rgba(black, 0.08);
    list-style-type: none;
    margin-bottom: 10px;
    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: 0 1px 10px rgba(black, 0.12);
    }
  }
}

.faq-question {
  display: block;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.2;
  padding: $faq-padding;
  padding-right: $faq-padding * 3.2;
  position: relative;

  &::before,
  &::after {
    background-color: $blue;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    position: absolute;
    right: 24px;
    top: 50%;
    transition: transform 0.2s;
    width: 13px;
  }

  &::before {
    transform: rotate(45deg);
    right: 32px;
  }

  &::after {
    transform: rotate(-45deg);
  }

  .collapsed &::before {
    transform: rotate(-45deg);
  }

  .collapsed &::after {
    transform: rotate(45deg);
  }
}

.faq-answer {
  display: none;
  padding: 0 $faq-padding $faq-padding;

  ul {
    margin: 0 0 $small-spacing;
    padding-left: 20px;
  }

  > *:last-child {
    margin: 0;
  }
}
