.hero {
  background-image: url('/assets/images/hero-blurred3.jpg');
  // background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 150px 0 0;
  text-align: center;

  @include media($large-up) {
    padding-top: 200px;
    text-align: left;
  }

  h1 {
    color: white;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
  }

  p {
    font-family: $heading-font-family;
    font-size: 1.4em;
    line-height: 1.4;
    margin-bottom: 1.8em;

    @include media($medium-up) {
      padding-right: 2em;
    }
  }

  button,
  .button {
    font-size: 1.4em;
    font-weight: 400;
    padding: 14px 24px;
  }

  .inner {
    position: relative;

    @include media($large-up) {
      @include outer-container;
    }
  }

  .inner-table {
    @include fill-parent();
    @include row(table);
  }

  .text {
    padding: 0 1em 2em;

    @include media($medium-only) {
      padding: 0 10% 2em;
    }

    @include media($large-up) {
      @include span-columns(5);
      padding: 0 2em 2em 1em;
    }
  }

  .image {
    padding: 0;

    @include media($medium-only) {
      padding: 0 10%;
    }

    @include media($large-up) {
      @include span-columns(7);
      @include reset-display;
      vertical-align: bottom;
      padding-right: 1em;
    }

    @include media($xlarge-up) {
      padding: 0;
    }

    img {
      display: block;
    }
  }
}
