@include keyframes(tooltip-up) {
  from {
    transform: translate(-50%, 0) translatey(5px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0) translatey(0);
    opacity: 1;
  }
}

.has-tooltip {
  position: relative;

  &:hover {
    .tooltip {
      animation: tooltip-up 0.3s ease-out;
      visibility: visible;
    }
  }
}

.tooltip {
  @include tooltip();
  transform: translate(-50%, 0);
  bottom: 100%;
  left: 50%;
  line-height: 1.4;
  max-width: 200px;
  text-align: center;
  z-index: 99999;

  .nowrap {
    white-space: nowrap;
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.light {
    @include tooltip($background-color: #f9fafa, $border-width: 1px, $border-color: rgba(black, 0.2));
    box-shadow: 0 1px 0 0 rgba(black, 0.06), 0 0 1px 1px rgba(black, 0.06);
    color: inherit;
  }
}
